.container {
	display: flex;
	justify-content: space-between;
}

.button {
	width: 100px;
	border: none;
	padding: 16px;
	color: white;
	cursor: pointer;
	background-color: crimson;
}

.button:disabled {
	background-color: rgba(134, 13, 37, 0.975);
	cursor: not-allowed;
}
